* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Reset Rules */

/* Common rules */

header,
section,
footer {
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.flex {
    display: flex;
}

.row {
    flex-direction: column;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;


}

/* END Common rules */

/* Header rules */

header {
    background-color: #3D84FD;
}

.row-header {
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-right: 30px;
    margin-top: 13px;
    margin-bottom: 16px;

    color: white;
}

.logo {

    margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 16px;

}

.logo img {
    width: 100%;
}

nav ul {
    display: none;
}


/* END Header rules */

/* Main rules */

/* 1st sectiion rules */

.features {
    background-color: white;
}

.features .row {
    gap: 35px;

    padding-top: 50px;
    padding-bottom: 80px;

    max-width: 310px;
    margin: 0 auto;
}

.features .col {
    justify-content: flex-start;
    gap: 35px;

    background-color: #B5DEFF;
    border-radius: 20px;

}

.features .col:first-child {
    justify-content: space-between;
}

.features .button-nav {
    background-color: #3D84FD;
    border: none;
    padding: 12px 50px;

    border-radius: 30px;

    font-size: 14px;
}

.features i {
    color: white;
    font-size: 18px;
}

.features .button-nav a {
    text-decoration: none;
    padding-left: 4px;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    

    color: white;
    
    
}

.features .col div {
    padding-left: 30px;
    padding-right: 30px;
}

.features h3 {

    padding-bottom: 40px;
    padding-bottom: 30px;

    text-align: center;

    font-size: 24px;
    font-weight: bold;

    color: #3D84FD;
    
}

.features p {

    padding-bottom: 35px;

    text-align: center;

    font-size: 15px;
    font-weight: bold;
    line-height: 30px;

    color: #5A6E7E;
     
}

.features iconify-icon {
    padding-top: 30px;

    font-size: 60px;
    color: #3D84FD;
}


.features .col:first-child h3 {
    padding-top: 40px;
    
}

.features .col:first-child img {
    display: block;
    width: 200px;
    
}

/* END 1st sectiion rules */

/* 2nd section rules */

.planning {
    background-color: #9593E6;
}

.planning .row {
    gap: 35px;
    padding-top: 65px;
    padding-bottom: 65px;

    max-width: 310px;
    margin: 0 auto;

}

.planning .col {
    justify-content: flex-start;
    gap: 35px;
    border-radius: 20px;

}

.planning .col div {
    padding-left: 20px;
    padding-right: 20px;
}

.planning img {
    display: block;

    padding-top: 35px;
    padding-bottom: 40px;

    width: 240px;
}

.planning p {
    font-size: 16px;
}

.planning .col:first-child h3 {

    padding-bottom: 55px;
    font-size: 32px;
    font-size: bold;

    color: white;
    
}

.planning .col:first-child p {
    font-size: 16px;
    line-height: 30px;

    color: white;
    font-size: bold;
}

.planning .col:last-child {

    margin-top: 35px;

    text-align: center;

    background-color: white;
    color: black;
}

.planning .col:last-child h3 {

    padding-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
}

.planning .col:last-child p {

    padding-bottom: 35px;
    font-size: 16px;
    line-height: 30px;
    
    color: black;
    font-style: italic;
}

.arrow-colored {
    position: relative;
    margin: 0 auto;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: #9792E4;

    margin-bottom: 30px;
}

.planning .col:last-child i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 25px;
    color: black;
}

/* END 2nd sectiion rules */


/* 3rd sectiion rules */

.testimonials {
    background-color: white;
}

.testimonials .row {
    gap: 30px;

    max-width: 310px;
    margin: 0 auto;

}

.testimonials .col {
    justify-content: center;
    border-radius: 20px;

    background-color: #9792E4;

}

/* First block */

.testimonials .col:first-child {
    justify-content: space-between;
    background-color: transparent;
    margin-top: 65px;
    text-align: center;

}
.testimonials .col:first-child div {
    padding-bottom: 40px;

    letter-spacing: 1px;
    font-style: italic;
    font-size: 16px;

}

.testimonials h2 {
    font-size: 30px;
    padding-bottom: 50px;
    color: #9792E4;
}

.testimonials .col:first-child p {
    
    font-size: 18px;
    line-height: 30px;

    color: black;
    font-size: bold;
}

/* Last 3 blocks */

.testimonials .col:last-child {
    margin-bottom: 65px;

}
.testimonials .testim-face {
    padding-top: 30px;
    padding-bottom: 15px;
}

.testimonials img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.testimonials .testim-quote {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;

    color: white;

    text-align: center;

}

.testimonials .testim-quote {
    padding-bottom: 35px;
}

.testimonials .testim-quote p {
    display: inline;

    
    font-size: 18px;
    line-height: 30px;

    color: white;
    font-size: bold;
}

.testimonials .testim-name {
    margin-bottom: 35px;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}


/* END 3rd sectiion rules */

/* 4th sectiion rules */

.benefits {
    background-color: #9792E4;
}

.benefits h2 {
    padding: 70px 40px;

    font-size: 30px;
    color: white;
    text-align: center;
}

.benefits .row {
    gap: 30px;
        
    max-width: 310px;
    margin: 0 auto;
}

.benefits .col {
    justify-content: space-around;
    align-items: flex-start;
    gap: 35px;

    padding: 45px 30px 30px 30px;

    border-radius: 20px;

    background-color: white;


}

.benefits .row {
    padding-bottom: 60px;
}

.benefits .ben-number {
    font-size: 50px;
    font-weight: bold;

    color: #9593E6;
}

.benefits .ben-title {
    font-size: 24px;
    font-weight: bold;

    color: #9593E6;
}

.benefits p {

    font-size: 16px;
    line-height: 30px;

    color: #818181;
    font-size: bold;
}

.benefits .ben-button {
    background-color: #9792E4;
    border: none;
    padding: 15px 45px;

    border-radius: 30px;
}


.benefits .ben-button a {
    text-decoration: none;

    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    

    color: white;
    
}
/* END 4th sectiion rules */

/* 5th sectiion rules */

.about-us {
    background-color: white;
}


.about-us .row {
    margin: 0 auto;
    
    max-width: 310px;

    margin-top: 90px;
    margin-bottom: 80px;

}

.about-us .col {
    justify-content: space-around;
    align-content: flex-start;
    gap: 45px;
    border-radius: 20px;

}

/* First block */

.about-us .col:first-child {
    margin-bottom: 65px;
    
}

.about-us h2 {
    position: relative;
    right: 28%;
    
    color: #9792E4;
    font-size: 36px;
}

.about-us p {
    
    font-size: 18px;
    line-height: 30px;

    color: black;
    font-size: bold;
}

/* last block */

.about-us .col:last-child {
    position: relative;
}

.about-us img {
    position: relative;
    right: 28%;
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-us iconify-icon {
    position: absolute;
    top: 0px;
    right: 110px;
    

    font-size: 60px;
    color: #9792E4;
}

.about-us .col:last-child p {
    font-size: 28px;
    line-height: 40px;

    color: #9792E4;
    font-weight: bold;
}

.about-us .about-button {

    position: relative;
    right: 40%;

    background-color: #9792E4;
    border: none;
    padding: 8px 12px;

    border-radius: 30px;
}

.about-us .about-button i {
    color: white;
    font-size: 18px;
}

.about-us .about-button a {
    text-decoration: none;
    padding-left: 4px;

    font-size: 14px;
    color: white;
    
    
}

/* END 5th sectiion rules */

/* END Main rules */

/* Footer rules */

/* TOP Footer rules */

footer .top-footer {
    text-align: center;

    padding-top: 65px;
    padding-bottom: 65px;

    background-color: #9792E4;
}

.top-footer div:first-child {
    max-width: 310px;

    margin: 0 auto;
}

.top-footer div:nth-of-type(1) {
    margin-bottom: 30px;
    color: #D5D4F4;
    font-size: 16px;
    letter-spacing: 4px;
}

.top-footer div:nth-of-type(2) {
    margin-bottom: 70px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    
}

.top-footer div:nth-of-type(3) {
    margin-bottom: 50px;
    color: #F8C15F;
    font-size: 50px;
    font-weight: bold;
    
}

.top-footer p {

    margin-bottom: 35px;

    font-size: 16px;
    line-height: 20px;
    color: white;
}

.top-footer .footer-button {

    margin-bottom: 35px;
    background-color: white;
    border: none;
    padding: 22px 75px;

    border-radius: 30px;
}


.top-footer .footer-button a {
    text-decoration: none;
    padding-left: 4px;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #9792E4;
    
    
}

.top-footer div:last-of-type {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.top-footer div:last-of-type a {
    color: white;
}

/* BOTTOM Footer rules */

.bottom-footer {
    text-align: center;

    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #333333;
}

.bottom-footer div {

    padding-left: 20px;
    padding-right: 20px;
}

.bottom-footer div:first-child {
    margin-bottom: 65px;
    color: white;
}

.bottom-footer div:last-child {
    color: white;
}

.bottom-footer div:last-child a {
    color: #9792E4;
}
/* END Footer rules */

/* Media querries */

/* For Tablet (from 480 to 767) */

@media screen and (min-width: 480px) {

    /* 1st section with 2 rows */
    .features .row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .features .col {
        width: calc(33% - 25px);
    }

    .features .col:first-child {
        width: calc(66% - 25px);
    }

    /* 2st and 3rd section: changing width */

    .planning .col,
    .testimonials .col {
        width: 95%;
    }

    /* 4th section with 3 rows */
    .benefits .row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .benefits .col {
    width: calc(100% / 2 - 30px);
    }

    /* 5th section with 2 rows */
    .about-us .row {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding-left: 10px;
        padding-right: 10px;
    }

    .about-us .row .col:first-child {
        flex-grow: 1;
    }

    .about-us .row .col:last-child {
        width: 240px;
    }
}

/* For Laptop (from 768 to 991 ) */

@media screen and (min-width: 768px) {

    /* Changing rules for nav */

    nav .menu-collapsed {
        display: none;
    }

    nav ul,
    nav .primary-cta {
        display: block;
    }

    nav ul {
        display: flex;
        gap: 30px;
        list-style: none;
    }

    /* Changing rules for all rows */

    .row {
        max-width: 750px;
        margin: 0 auto;
    }

    /* 2nd section: in 1 row  */

    .planning .row {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .planning .col {
        width: calc(100% / 2 - 30px);
    }

    /* 3nd section: in 1 row  */
    
    .testimonials .col {
        /* test */
        height: 280px;
    }
}

/* For Dekstop (from 992 to infinite ) */

@media screen and (min-width: 992px) {
    .row {
        max-width: 1000px;
        margin: 0 auto;

    }
}

/* END Media querries */

