* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Reset Rules */

/* Common rules */

header,
section,
footer {
    width: 100%;
}

.flex {
    display: flex;
}

.row {
    flex-direction: column;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* END Common rules */

/* Header rules */

header {
    background-color: #3D84FD;
}

.row-header {
    justify-content: space-between;
}

nav {
    margin-right: 30px;
    margin-top: 13px;
    margin-bottom: 16px;

    color: white;
}

.logo {

    margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 16px;

}

nav,
.logo {
    /* test */
    background-color: #B5DEFF;
}

.logo img {
    width: 100%;
}

nav ul,
nav .primary-cta {
    display: none;
}


/* END Header rules */

/* Main rules */

/* 1st sectiion rules */

.features {
    background-color: white;
}

.features .row {
    gap: 25px;

    margin-top: 50px;
    margin-bottom: 80px;
}

.features .col {
    
    gap: 30px;

    background-color: #B5DEFF;
    border-radius: 20px;

    /* test  dimensioni*/
    width: 310px;
    height: 360px;

    /* test  allineamento verticale*/
    justify-content: center;

}


/* END 1st sectiion rules */

/* 2nd sectiion rules */

.planning {
    background-color: #7672B3;
}

.planning .row {
    gap: 35px;
    margin-top: 65px;

}

.planning .col {

    gap: 35px;
    border-radius: 20px;

    /* test  dimensioni*/
    width: 310px;
    height: 360px;

    /* test  allineamento verticale*/
    justify-content: center;

}

.planning .col:first-child {
    margin-top: 65px;

    /* test */
    border: black 1px dashed;
}

.planning .col:last-child {
    margin-bottom: 65px;

    background-color: white;
}

/* END 2nd sectiion rules */

/* 3rd sectiion rules */


/* END 3rd sectiion rules */

/* END Main rules */
